@font-face {
    font-family: "Montserrat";
    src: local(Montserrat),
        url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../../fonts/Montserrat-Regular.woff") format("woff"),
        url("../../fonts/Montserrat-Regular.ttf") format("ttf");
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local(Montserrat),
        url("../../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../../fonts/Montserrat-Bold.woff") format("woff"),
        url("../../fonts/Montserrat-Bold.ttf") format("ttf");
        font-style: normal;
        font-weight: bold;
        font-display: swap;
}